@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
* {
    font-family: 'Ramabhadra', sans-serif;
}
*:focus {
    outline: 0;
}

*::-webkit-scrollbar {
    display: none;
  }

body{
    background-color: #000000;
}

.inp-box {
    width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
}

.inp_btn{
    background-color: #1A98D0;
    outline: none;
}

.inp_btn:focus{
    outline: none;
}

.todo_list {
    height: 55vh;
    overflow: scroll;
}

.del {
    color: #000;
}
  